.user__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: right;
}
.user__name {
  font-size: 12px;
  font-weight: 700;
  color: var(--title-color);
}
.user__role {
  color: var(--black);
}
.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
