:root {
  --bg-main: #ffffff;
  --bg-table: #fadee5;

  --border-input: #fadee5;
  --border-hover: #bd012d;
  --border-active: #be0430;
  --search-color: #7c8792;

  --title-color: #dc0032;

  --white: #ffffff;
  --black: #222222;
}
