.header {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: inherit;
}
.logo {
  width: 100px;
}
.logo-link {
  display: flex;
  background-color: inherit;
  gap: 5px;
  align-items: center;
  color: var(--title-color);
  font-size: var(--font-size-l);
  span {
    display: block;
  }
}
