@import '@/assets/style/media';
.loader {
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  &-img {
    width: 100px;
    height: 100px;
    @include media-breakpoint-down(lg) {
      width: 70px;
      height: 70px;
    }
  }
}
