.pagination {
  &-wrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: var(--font-size-l);
  }
  &-element {
    font-size: var(--font-size-l);
    cursor: pointer;
    &__current {
      color: var(--title-color);
    }
  }
}
